
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-links{
  border-radius: 10px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.8);
  
}
.content {
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 1;
  color: #0F0F0F;
}
.about{
  background-color: #FFFDFA;
}
#playPauseButton {
  position: absolute;
  top: 320%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 48px;
  font-weight: bold;
}
.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  background-color: #222222;
  margin-top: 6rem;
  padding-bottom: 1rem;
}
.footer-line{
  border: none;
  border-top: 2px solid #f8f8f8;
  width: 100%;
  
}
.footer-text{
  text-align:center ;
}
.email{
  background-image: url("F:\Project\e-commerce\src\resources\bakflower.png");
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 60vh;
  margin-bottom: -6rem;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
 
}
